*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}
:root{
    --width-3:calc(100%/3);
    --primary-bg-color:red;
}



.box{
    inline-size: 0%;
    width: var(--width-3);
    height: 750px;
}

#box1{
    
    background-color: red;
}
#box2{
    
    background-color: pink;
}
#box3{
    
    background-color: blue ;
}